
.landing-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #F5F5F3;

}
.landing-first-image-container{
    width:100%;
    margin-bottom: 20px;
}
.landing-image{
    width:100%;
}
.landing-product-list-main-container{
    width:100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:20px;
}
.landing-product-list-container{
    display: flex;
    flex-direction: column;
    /* padding:20px; */
    
    width: 100%;
}
.landing-product-list-heading{
    font-size: 20px;
    color: #000000;
    font-weight: 400;
    font-family: inter;
}
.product-list-container{
    padding-left: 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    width: 100%;
}
.product-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin:10px;
    padding:10px;
    width:100%;
    max-width: 220px;
}
.product-image{
    width: 100%;
}
.product-heading{
    padding-top:5px;
    font-size:15px;
    color: #000000;
    font-weight: 400;
    font-family: inter;
}
.product-price{
    padding-top:7px;
    font-size:13px;
    color: #000000;
    font-weight: 400;
    font-family: inter;
}
@media screen and (max-width:767px){
    .product-list{
        width:100%;
        max-width: 130px;
    }
}

.floe-main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8F8B75;
    width:100%;
    padding:50px;
    margin-bottom: 10px;
}

.floe-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:20px;
    text-align: center;
}

.landing-collection-main-container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    width:100%;
  
    padding:20px;
}
.landing-collection-container{
   
    width: 100%;
    padding:20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.landing-collection-image-container{
    width:100%;
}
.collection-image{
    width: 100%;
    max-width:650px;
}
.landing-collection-detail-container{
   
    width: 100%;
    max-width:400px;
    padding:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.collection-heading{
    color:#000000;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    font-family: inter;
}
.collection-para{
    color:#000000;
    padding-bottom: 30px;
    font-family: inter;
}
@media screen and (max-width:767px){
    .landing-collection-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding:0px;
    }
}

@media screen and (min-width:767px) and (max-width:992px){
    .landing-collection-container{
        padding:0px;
    }
}

